@media screen and (max-width: 420px) {
  body {
    background-image: url("img/1.jpg");
    background-size: cover;
    background-position: -350px 100px;
    height: 100vh;
  }

  .countdown_timer--wrapper {
    flex-direction: column;
    background-color: rgba(30, 30, 30, 0.6);
  }
}
